[Unit]
Description=Github Proxy Service
After=network.target

[Service]
ExecStart=/bin/bash -c '/usr/local/ghproxy/ghproxy -c /usr/local/ghproxy/config/config.toml > /usr/local/ghproxy/log/run.log 2>&1'
WorkingDirectory=/usr/local/ghproxy
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target